@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

body {
  font-size: 18px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .packet {
    position: absolute;
    will-change: transform;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: rgb(229, 229, 229);
  }
  
  .packet::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -25px;
    height: 25px;
    background-image: linear-gradient(45deg, transparent 80%, rgb(229, 229, 229) 80%),
      linear-gradient(-45deg, transparent 75%, rgb(229, 229, 229) 75%);
    background-position: center;
    background-size: 25px 25px;
  }
}
