
.container {
  height: auto !important;
  bottom: -30px;
  transform: scale(0.5);
  display: flex;

  .button30 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    appearance: none;
    background-color: var(--card-background);
    border-radius: 20px;
    border: 6px solid var(--card-dividers-color);
    box-shadow: -20px 20px 50px 15px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    height: 150px;
    width: 350px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    transition: box-shadow 0.15s, transform 0.15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 3rem;
    &:hover:enabled {
      box-shadow: -20px 20px 50px 15px rgba(0, 0, 0, 0.5);
      transform: translateY(-3px);
      // background-color: var(--card-primary);
      // color: var(--text-contrast);
    }
    &:active:enabled {
      box-shadow: rgba(0, 0, 0, 0.3) -10px 10px 20px inset;
      transform: translateY(3px);
      background-color: var(--card-background-disabled);
    }
    &:disabled {
      background-color: var(--card-background-disabled);
      box-shadow: rgba(0, 0, 0, 0.4) -10px 10px 20px inset;
      transform: translateY(3px);
    }
  }
}
