.externalContainer {
  padding: 15px;
  background-color: var(--card-outline);
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: var(--card-background);
  border-radius: 20px;
  grid-template-rows: 2fr 3rem 2rem 2fr;
  grid-template-columns: 50px 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "subtitle subtitle"
    "description description";
}

.type {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  left: 30px;
  border-radius: 20%;
  padding: 5px;

  color: black;
  border: 1px solid var(--card-dividers-color);
  background-color: var(--card-background);
}

.image {
  background-color: white;
  grid-area: image;
  position: relative;
}
.image img{
  object-fit: cover;
}
.scaledDown img{
  object-fit: scale-down;
}


.title {
  transform: translateY(-40px);
  grid-area: title;
  clip-path: polygon(0 100%, 100% 100%, 96% 0, 4% 0);
  width: 100%;
  margin: auto;
  background-color: var(--card-dividers-color);
  border-top: 1px solid var(--card-dividers-color);
  /* border-bottom: 1px solid black; */
}
.title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: normal;
  clip-path: inherit;
  margin: auto;
  width: calc(100% - 2px);
  background-color: var(--card-background);
}

.smaller {
  transform: translateY(-35px);
}

.smaller h1 {
  font-size: 1.2rem;
}

.subtitle {
  /* border-radius: 5px; */
  transform: translateY(-45px);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--card-dividers-color);
  grid-area: subtitle;
  clip-path: polygon(4% 100%, 96% 100%, 100% 0, 0 0);
}

.subtitle h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: normal;
  clip-path: inherit;
  margin: auto;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: var(--card-background);
}

.description {
  transform: translateY(-1rem);
  border: 1px solid var(--card-dividers-color);
  margin: 0rem 1rem 1rem 1rem;
  padding: 20px;
  border-radius: 10px;
  grid-area: description;
}

/* 
@media (max-width: 600px) {
  
}


@media (prefers-color-scheme: dark) {

} 
*/
