.externalContainer {
  padding: 15px;
  background-color: var(--card-outline);
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  border-radius: 20px;
  grid-template-rows: 2fr 6rem 2fr;
  grid-template-columns: 50px 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "description description";
}

.type {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  padding: 5px;

  color: var(--card-dividers-color);
  border: 3px solid var(--card-dividers-color);
  background-color: var(--card-background);
}

.image {
  grid-area: image;
  display: block;
  position: relative;
  transform: translateY(10px);
  background-color: var(--card-dividers-color);
  clip-path: ellipse(25% 50% at 50% 50%);
  width: 100%;
}
.image > span {
  width: calc(100% - 5px);
}
.image > span > img {
  background-color: var(--card-background);
  clip-path: ellipse(24% 48% at 50% 50%);
  object-fit: contain;
}

.title {
  transform: translateY(-30px);
  grid-area: title;
  width: 100%;
  position: relative;
}
.title img {
  width: 100%;
  object-fit: fill;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  padding: 45px;
}
.title h1, .title h2 {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.8rem;
  font-weight: normal;
  width: 100%;
  z-index: 110;
}

.title h2 {
  font-size: 1rem;
  transform: translate(-50%, 2rem);
}

.smaller {
  transform: translateY(-35px);
}

.smaller h1 {
  font-size: 1.2rem;
}

.description {
  transform: translateY(-3rem);
  height: 110%;
  border: 3px solid var(--card-dividers-color);
  margin: 0rem 1rem 1rem 1rem;
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
  grid-area: description;
  background-color: var(--card-background);
}

.description ul {
  padding: 0;
}
.description ul li span {
  margin-right: 10px;
}

/* 
@media (max-width: 600px) {
  
}


@media (prefers-color-scheme: dark) {

} 
*/
