html,
body,
h1,
h2,
ul {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --background: #1e90ff;
  --card-outline: #2f2b2b;
  --card-primary: #0870c5;
  --card-background: #e2e2e2;
  --card-dividers-color: #000000;
  --text-color: #000000;
  --text-contrast: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  /* body {
    color: white;
    background: black;
  } */
}
