
.root {
  background: var(--background);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.root > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root > div > div {
  color: var(--text-color);
  width: 45vh;
  max-width: 450px;
  height: 75vh;
  max-height: 750px;
  will-change: transform;
  border-radius: 20px;
  border: 1px solid rgb(163, 163, 163);
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  cursor: pointer;
}

/* 
@media (max-width: 600px) {
  
}


@media (prefers-color-scheme: dark) {

} 
*/
