.root {
  background: var(--background);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.root > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animatedPackContainer {
  z-index: 1000;
  will-change: transform, filter;
}

.animatedPack {
  color: var(--text-color);
  width: clamp(200px, 90vw, 375px);
  aspect-ratio: 0.7 / 1.1 ;
  will-change: transform, clip-path;
  /* z-index: 1000; */
}

.animatedCardContainer {
  will-change: transform;
}

.animatedCard {
  z-index: 500;
  color: var(--text-color);
  width: clamp(200px, 90vw, 375px);
  aspect-ratio: 0.7 / 1;
  will-change: transform, box-shadow;
  border-radius: 20px;
  border: 1px solid rgb(163, 163, 163);
}
.animatedCard > div:last-child {
  box-shadow: none;
}

/* 
@media (max-width: 600px) {
  
}


@media (prefers-color-scheme: dark) {

} 
*/
