$borderSize: 25px;
$accent: rgb(229, 229, 229);

.container {
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: calc($borderSize + 10px) 1fr calc($borderSize + 10px);
  grid-template-columns: 1fr;
  grid-template-areas:
    "border"
    "content"
    "border2";
  position: relative;
  cursor: pointer;
}

.border {
  grid-area: border;
}
.border2 {
  grid-area: border2;
}

.rotated {
  transform: rotateX(180deg);
}

.divider {
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: $accent;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -$borderSize;
    height: $borderSize;
    background-image: linear-gradient(45deg, transparent 80%, $accent 80%),
      linear-gradient(-45deg, transparent 75%, $accent 75%);
    background-position: center;
    background-size: $borderSize $borderSize;
  }
}

.content {
  grid-area: content;
  position: relative;
  display: flex;
  flex-direction: column;
  .title {
  }
}
